{% extends 'base.html' %}
{% import '_macros.html' as ui %}

{% block head %}
    {{ super() }}
    <title>{% block title %}召集军队！！{% endblock %}</title>
{% endblock head %}

{% block content %}
    <div class="container">来自燃烧军团的消息：</div>
    <div class="container"><h1>燃烧军团总部</h1></div>
    {{ ui.input('username', placeholder="伊利丹在哪？") }}
    {{ ui.input('password', type='password') }}
    <div class="container"><i>古尔丹大人的传送门法术就要完成了...</i></div>
    <div class="container">{{ self.title() }}</div>
    {% for i in ['列兵','二等军士长','军士长','士官长','骑士队长','少校','司令','统帅'] %}
        <div class="container"><ul><li>{% block army scoped %}{{ i }}{% endblock %}</li></ul></div>
    {% endfor %}
{% endblock %}