<ul class="comments">
    {% for comment in comments %}
        <li id="{{ comment.id }}" class="comment">
            <div class="comment-thumbnail">
                <a href="{{ url_for('.user', username=comment.author.username) }}">
                    {% if comment.author.avatar %}
                        <img src="{{ comment.author.avatar }}" width="40" height="40" class="img-rounded profile-thumbnail">
                    {% else %}
                        <img src="{{ comment.author.gravatar(size=40) }}" class="img-rounded profile-thumbnail">
                    {% endif %}
                </a>
            </div>
            <div class="comment-content">
                <div class="comment-date">{{ moment(comment.timestamp).fromNow() }}</div>
                <div class="comment-author">
                    <a href="{{ url_for('.user', username=comment.author.username) }}">
                        {{ comment.author.username }}
                    </a>
                </div>
                <div class="post-body">
                    {% if comment.disabled %}<p><b>此评论已被管理员屏蔽。</b></p> {% endif %}
                    {% if not comment.disabled or current_user.can(Permission.MODERATE_COMMENTS) %}
                        {% if comment.body_html %}
                            {{ comment.body_html | safe }}
                        {% else %}
                            {{ comment.body }}
                        {% endif %}
                        <br>
                        <a class={% if comment not in current_user.comments_like.all() %}"glyphicon glyphicon-triangle-top"{% else %}"glyphicon glyphicon-triangle-bottom"{% endif %}
                        href="{{ url_for('.like_toggle', id=comment.id, page=page) }}#{{ comment.id }}">
                        </a>
                        {{ comment.likes }}likes
                    {% endif %}
                </div>
                <div class="post-footer">
                    {% if current_user == comment.author %}
                        <a class="btn bg-info btn-xs" href="{{ url_for('.delete_comment', id=comment.id, page=page) }}#{{ comment.id }}">删除</a>
                    {% endif %}
                    {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                        {% if not comment.disabled %}
                            <a class="btn btn-default btn-xs" href="{{ url_for('.comment_show_toggle', id=comment.id, page=page) }}#{{ comment.id }}">屏蔽</a>
                        {% else %}
                            <a class="btn btn-danger btn-xs" href="{{ url_for('.comment_show_toggle', id=comment.id, page=page) }}#{{ comment.id }}">解除屏蔽</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>