{% extends 'bootstrap/base.html' %}

{% block title %}Flasky{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font_awesome/css/font-awesome.min.css') }}">
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font_awesome/css/font-awesome-ie7.min.css') }}">
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='wow/wow_inverse.ico') }}">		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='notification/css/ns-default.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='notification/css/ns-style-growl.css') }}" />
    <script src="{{ url_for('static', filename='notification/js/modernizr.custom.js') }}"></script>
    <!--[if IE]>
  	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
{% endblock %}

{% block navbar %}
    <div class="nav navbar-inverse" id="my_nav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button  class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">艾尔文森林</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" >
                    <li><a href="{{ url_for('main.attack') }}">进攻</a></li>
                    <li><a href="{{ url_for('main.upload') }}">上传</a></li>
                    <li><a href="{{ url_for('main.about') }}">关于</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                        <li><a href="{{ url_for('main.moderate') }}">所有议论</a></li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {% if current_user.avatar %}
                                    <img src="{{ current_user.avatar }}" width="18" height="18" class="img-rounded">
                                {% else %}
                                    <img src="{{ current_user.wow_avatar }}" width="18" height="18" class="img-rounded">
                                {% endif %}
                                &#8197;账户<span class="glyphicon glyphicon-triangle-bottom"></span>
                            </a>
                            <ul class="dropdown-menu navbar-inverse navbar-nav">
                                <li><a href="{{ url_for('main.user', username=current_user.username) }}">角色信息</a></li>
                                <li><a href="{{ url_for('auth.change_password') }}">修改密码</a></li>
                                <li><a href="{{ url_for('auth.change_email_request') }}">修改邮箱</a></li>
                                <li><a href="{{ url_for('auth.delete') }}">删除帐号</a></li>
                                <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">登陆</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert" >&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript">
        $(function () {
            var st = 0;
            $(window).scroll(function () {
                var st2 = $(window).scrollTop();
                if (st2 < st) {
                    $('#my_nav').addClass('navbar-fixed-top');
                    $('body').attr('style', 'margin-top: 50px');
                } else {
                    $('#my_nav').removeClass('navbar-fixed-top');
                    $('body').attr('style', '');
                }
                st = st2;
            });
        });
    </script>
{% endblock %}
