{% extends 'base.html' %}
{% import "_macros.html" as macros %}

{% block title %}议政厅{% endblock %}

{% block page_content %}
    <div class="page-header">
        <div class="container comments">
            <h1>
                {{ self.title() }}
                <a class="rank" href="{% if text == 're_timestamp' %}{{ url_for('main.comments', text='timestamp') }}{% else %}{{ url_for('main.comments', text='re_timestamp') }}{% endif %}">时间线</a>
                <a class="rank" href="{% if text == 're_likes' %}{{ url_for('main.comments', text='likes') }}{% else %}{{ url_for('main.comments', text='re_likes') }}{% endif %}">点赞数</a>
            </h1>
        </div>
    </div>
    {% include '_comments.html' %}
    {% if pagination.pages > 1 %}
        {{ macros.pagination_widget(pagination, '.comments', text=text) }}
    {% endif %}
{% endblock %}
