{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}艾泽拉斯{% endblock %}

{% block page_content %}
    <audio src="" autoplay loop></audio>
    <div class="jumbotron stormwind">
        <img class="img-rounded lion" src="{{ url_for('static', filename='wow/hotel_shanjinzhen.jpg') }}">
        <h1>欢迎来到暴风城!</h1>
        <p>{% if current_user.is_authenticated %}{{ current_user.username }}{% else %}旅行者{% endif %}，在狮王之傲旅店放松放松吧！</p>
    </div>
    <div>
        {% if current_user.can(Permission.WRITE_ARTICLES) and current_user.confirmed%}
            {{ wtf.quick_form(form) }}
        {% endif %}
    </div>
    <div>{% include '_posts.html' %}</div>
    {% if pagination.pages > 1 %}
        {{ macros.pagination_widget(pagination, '.index') }}
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
    <script src="{{ url_for('static', filename='text_toggle.js') }}"></script>
{% endblock %}