{% extends 'base.html' %}

{% block title %}主页{% endblock %}

{% block head %}
    {{ super() }}
    <style>ul {color:darkslategray}</style>
{% endblock %}

{% block page_content %}
    <div class="jumbotron">
        <h1>欢迎来到暴风城!</h1>
        <p>{% if current_user.is_authenticated %}{{ current_user.username }}
            {% else %}旅行者{% endif %}，在狮王之傲旅店放松放松吧！</p>
        <i>{{ moment().format('LLL') }}</i>
        <i>{{ moment().fromNow(refresh=True) }}</i>
    </div>

    <div class="container">
        {% for post in posts %}
            <i>{{ post.author }}{{ post.timestamp }}</i>
            <p>{{ post.body }}</p>
            <p>{% if post.comments %}{{ post.comments }}{% endif %}</p>
            <a href="{{ url_for('.post', id=post.id) }}">评论</a>
        {% endfor %}
    </div>
{% endblock %}
