{% extends 'base.html' %}
{% import "_macros.html" as macros %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <div class="container posts">
            <h1>
                {{ self.title() }}
                <a class="rank" href="{% if text == 're_timestamp' %}{{ url_for('main.posts', text='timestamp') }}{% else %}{{ url_for('main.posts', text='re_timestamp') }}{% endif %}">时间线</a>
                <a class="rank" href="{% if text == 're_comments_count' %}{{ url_for('main.posts', text='comments_count') }}{% else %}{{ url_for('main.posts', text='re_comments_count') }}{% endif %}">议论数</a>
                <a class="rank" href="{% if text == 're_collects' %}{{ url_for('main.posts', text='collects') }}{% else %}{{ url_for('main.posts', text='re_collects') }}{% endif %}">收藏量</a>
            </h1>
        </div>
    </div>
    {% include '_posts.html' %}
    {% if pagination.pages > 1 %}
        {{ macros.pagination_widget(pagination, '.posts', text=text) }}
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='text_toggle.js') }}"></script>
{% endblock %}